doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(data-view=view)
        block content
        script(src='javascripts/bundle.js' type='text/javascript')

