extends layout

block content
    #login
    form(action="/users/login")
        input(type="text" name="username" placeholder="User Name")
        input(type="text" name="password" placeholder="Password")
        input(type="submit" value="Submit")